<div class="menu-content" style="display: block" >
  <h3 class="tab-title" >History</h3>
  <div class="history-card">
      <p>Amount Add Confirmed: Total Credits 200$</p>
      <small>12th Jan 2018 1220 hrs</small>
  </div>
  <div class="history-card">
      <p>Amount Add Initiated</p>
      <small>12th Jan 2018 1220 hrs</small>
  </div>
  <div class="history-card">
      <p>Jan invioce Paid</p>
      <small>12th Jan 2018 1220 hrs</small>
  </div>
  <div class="history-card">
      <p>Jan invioce Generated</p>
      <small>12th Jan 2018 1220 hrs</small>
  </div>
  <div class="history-card">
      <p>Amount Add Confirmed</p>
      <small>12th Jan 2018 1220 hrs</small>
  </div>
</div>