<app-form *ngIf='!formHidden'></app-form>
<div class="body-content">
  <div class="client-nav">
    <button routerLinkActive="active" routerLink="../home">All Templates</button>
    <!-- <button>Promotions</button>
    <span class="icon-container">
      <img src="../../../../assets/filter-icon.png" class="filter-icon icon" />
    </span>

    <select name="type">
      <option value="#">Axisrooms</option>
      <option value="#">Hotel Linkage</option>
      <option value="#">Staydilly</option>
    </select> -->
    <button routerLinkActive="active" routerLink="../invoices">Invoices</button>
  </div>
  <div class="search-options">
    <input type="text" class="search-bar" placeholder="Search">
    <button class="create-new" (click)='showForm()'>Create Template</button>
  </div>
  <div class="cards-area">
    <app-loading-indicator [hidden]="loadingIndicator"></app-loading-indicator>
    
    <div class="info-card" *ngFor="let template of templateData?.templateDetails.reverse();let i = index">
    <app-template-details (hideTemplate)="hideTemplateDetails($event)" [hidden]="templateDetailsHidden[i]" [templateDetails]="template" [index]="i"></app-template-details>
      
      <span class="edit-button">
        <img (click)='templateDetailsHidden[i] = false' src="../../../../assets/edit-icon.svg" alt="Edit Icon" class="edit icon">
      </span>
      <div class="card-data">
        <h3 class="title"> Rule Name</h3>
        <p class="content">{{template.ruleName}} </p>
      </div>
      <div class="card-data">
        <h3 class="title">Creator Name</h3>
        <p class="content">{{template.creatorName}} </p>
      </div>
      <div class="card-data">
        <h3 class="title">Star Rating</h3>
        <p class="content" *ngIf="template.starRating == 0" > ANY </p>
        <p class="content" *ngIf="template.starRating != 0" >{{template.starRating}} </p>
      </div>
      <div class="card-data">
        <h3 class="title">Currency</h3>
        <p class="content">{{template.transactionCurrency}} </p>
      </div>
    </div>

  </div>
  <!-- <div class="pagination">
    <ul>
      <li>1</li>
      <li>2</li>
      <li>3</li>
      <li>4</li>
      <li>5</li>
    </ul>
  </div> -->
</div>