<div class="temp-login" *ngIf="showTempPw">
    <div>
        <input type="password" placeholder="Enter Password" #pw>
        <button type="button" (click)="tempLogin(pw.value)">submit</button>
        <br> {{message}}
    </div>
</div>
<app-loading-indicator [hidden]="loader"></app-loading-indicator>
<div class="body-content">
    <div class="client-nav">
        <button routerLinkActive="active" routerLink="../home"> All Templates</button>
        <button routerLinkActive="active" routerLink="../invoices">Invoices</button>
        <a class="align-right-flex" href="https://billing-service.axisrooms.com/v1/api/invoice/download">
            <button> Download Invoices </button>
        </a>
    </div>
    <div class="empty" *ngIf="!invoices">
        <h3>Currently there are no Invoices available.</h3>
    </div>
    <div class="invoice-table" *ngIf="invoices">
        <table>
            <tr>
                <th>ID</th>
                <th>Chain Name</th>
                <th>Hotel Name</th>
                <th>Product</th>
                <th>Invoice Date</th>
                <th>Due Date</th>
                <th>Total Amount</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
            <tr *ngFor="let invoice of invoices; index as i">
                <td>{{invoice.invoiceId}}</td>
                <td>Axisrooms</td>
                <td>{{invoice.hotelName}}</td>
                <td>{{invoice.productName}}</td>
                <td>{{invoice.generationDate }}</td>
                <td>{{invoice.paymentDueDate }}</td>
                <td>{{invoice.totalAmount | currency: invoice.currency}}</td>
                <td>{{invoice.status}}</td>
                <td class="action-dropdown-rel">
                    <button (click)="actionMenu[i] = !actionMenu[i]" [ngClass]="{active: actionMenu[i]}" [disabled]="invoice.status == 'DELETED'">
                        Menu </button>
                    <span [hidden]="!actionMenu[i]">
                        <span class="action-dropdown-overlay" (click)="actionMenu[i] = !actionMenu[i]"></span>
                        <ul class="action-dropdown">
                            <li *ngIf="invoice.status != 'PAID'" (click)="changeDueDateVisibility = !changeDueDateVisibility; actionMenu[i] = !actionMenu[i];invoiceIdForDueDate = invoice.invoiceId; invoiceDate = invoice.generationDate.slice(0,10)">Change Due-Date</li>
                            <li *ngIf="invoice.status != 'PAID'" (click)="changeStatus(invoice.invoiceId,'PAID',invoice.status);actionMenu[i] = !actionMenu[i]">Change to Paid</li>
                            <li *ngIf="invoice.status != 'UNPAID'" (click)="changeStatus(invoice.invoiceId,'UNPAID',invoice.status);actionMenu[i] = !actionMenu[i]">Change to Unpaid</li>
                            <li *ngIf="invoice.status == 'UNPAID'" (click)="changeStatus(invoice.invoiceId,'DELETED',invoice.status);actionMenu[i] = !actionMenu[i]">Delete Invoice</li>
                            <li>
                                <a href="https://billing-service.axisrooms.com/v1/api/download/invoice/pdf?invoiceNo={{invoice.invoiceId}}" (click)="$event.stopPropagation()"
                                    target="_self">
                                    Download Invoice</a>
                            </li>
                            <li (click)="sendInvoice(invoice.invoiceId);actionMenu[i] = !actionMenu[i]">Send Invoice</li>
                        </ul>
                    </span>

                </td>
            </tr>

        </table>
        <!-- <div class="pagination">
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
            </ul>
        </div> -->
    </div>
</div>

<div class="modal-wrapper" *ngIf="changeDueDateVisibility">

    <div class="modal-content change-due-date">
        <div class="close icon">
            <img (click)="changeDueDateVisibility = !changeDueDateVisibility" src="../../../../assets/close-icon-white.png" alt="Close Icon"
                class="icon">
        </div>
        <div class="navigation-tabs">
            <h3 class="modal-heading">Change Due Date</h3>
        </div>
        <div class="modal-body-content">
            <input type="date" #date (change)="date.value" min="{{invoiceDate}}">
            <button (click)="changeDueDate(date.value);changeDueDateVisibility = !changeDueDateVisibility ">Done</button>
        </div>

    </div>
</div>