<div class="modal-wrapper">
  <div class="template-overlay" (click)="hideTemplateDetails()" ></div>
  <div class="template-content">
    <div class="navigation-tabs">
        <div class="close icon">
            <img (click)="hideTemplateDetails()" src="../../../../assets/close-icon-white.png" alt="Close Icon" class="icon">
          </div>
          <h2 class="template-heading">{{templateDetails.ruleName}}</h2>
    </div>
    
    <div class="data" *ngIf="templateDetails.templateType != 'Custom'" >
      <h3 class="title">Country</h3>
      <p class="info"> {{templateDetails.country}}</p>
    </div>

    <!-- <div class="data" *ngIf="templateDetails.templateType != 'Custom'" >
      <h3 class="title"> User Name</h3>
      <p class="info">{{templateDetails.userName}} </p>
    </div> -->


    <!-- <div class="data">
      <h3 class="title">Creator Name</h3>
      <p class="info"> {{templateDetails.creatorName}}</p>
    </div> -->

    <!-- <div class="data">
      <h3 class="title">Star Rating</h3>
      <p class="info" *ngIf="templateDetails.starRating != 0" > {{templateDetails.starRating}}</p>
      <p class="info" *ngIf="templateDetails.starRating == 0" > ANY</p>
    </div> -->
    <div class="data">
      <h3 class="title"> Product Type</h3>
      <p class="info"> {{templateDetails.productType | productName}}</p>
    </div>
    <div class="data">
      <h3 class="title"> Template Type</h3>
      <p class="info"> {{templateDetails.templateType}}</p>
    </div>
    <div class="data">
      <h3 class="title">Transaction Currency</h3>
      <p class="info"> {{templateDetails.transactionCurrency}}</p>
    </div>
    <div class="data rule-desc ">
      <h3>Rules</h3>
      <div class="rule-desc-info info" *ngFor="let rule of templateDetails.ruleDescription">

        <div class="sub-data">
          <h4 class="title"> Charge Type</h4>
          <p class="info">{{rule.chargeType}}</p>
        </div>
        <div class="sub-data" *ngIf="rule.transactionType" >
          <h4 class="title"> Transaction Base</h4>
          <p class="info">{{rule.transactionType}}</p>
        </div>
        <div class="sub-data">
          <h4 class="title"> Charge Value</h4>
          <p class="info">{{rule.chargeValue}}</p>
        </div>
        <div class="sub-data">
          <h4 class="title"> Payment Type</h4>
          <p class="info">{{rule.paymentType}}</p>
        </div>
        <div class="sub-data">
          <h4 class="title"> Rule Type </h4>
          <p class="info">{{rule.ruleType}}</p>
        </div>
        <div class="sub-data">
          <h4 class="title"> Recurring </h4>
          <p class="info">{{rule.recurring | recurring}}</p>
        </div>
        <div class="sub-data">
          <h4 class="title">Start Date </h4>
          <p class="info">{{rule.startDate}}</p>
        </div>
        <div class="sub-data">
            <h4 class="title">Validity Type</h4>
            <p class="info">{{rule.validityType}}</p>
          </div>
        <div class="sub-data" *ngIf="rule.endDate" >
          <h4 class="title"> End Date</h4>
          <p class="info">{{rule.endDate}}</p>
        </div>
        
        <div class="sub-data">
          <h4 class="title"> Payment Option</h4>
          <p class="info">{{rule.paymentOption}}</p>
        </div>
        <div class="sub-data">
          <h4 class="title"> Payment Cycle </h4>
          <p class="info">{{rule.paymentCycle | paymentCycle }}</p>
        </div>
        <div class="sub-data"  *ngIf="templateDetails.templateType == 'Custom'"  >
          <h4 class="title"> Connected Hotel IDs </h4>
          <p class="info" *ngFor="let hotel of rule.connectedHotels" >ID: {{hotel.productId}} </p> 
          <p class="info" *ngIf="rule.connectedHotels.length == 0" > No Selection </p>
        </div>
      </div>
    </div>
  </div>
</div>